footer{
    background-color: var(--holo_dark);
    color: #FFF;
    display: flex;
    justify-content: space-between;
    height: 10em;
}
footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1em;
    text-align: center;
    flex-grow: 1;
    padding: 5%;
}