nav{
    top: 0;
    position: fixed;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav .right-side{
    display: flex;
    align-items: center;
    height: 100%;
}
nav .right-side .buttons{
    display: flex;
    align-items: center;
    height: 100%;
}
nav .right-side .buttons a{
    text-decoration: none;
    color: #FFF;
    height: 100%;
    box-sizing: border-box;
    padding: 2.3em 2.5em;
}

nav .left-side{
    display: flex;
    align-items: center;
    margin-left: 1em;
    height: 100%;
}
nav .left-side a{
    height: 100%;
    box-sizing: border-box;
}
nav .left-side a img{
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
}