#level-selector-page {
    min-height: 100vh;
}

/*      El header      */
#level-selector-page header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#level-selector-page header .go-back-btn {
    font-size: 2rem;
    position: absolute;
    left: 2rem;
    top: 2rem;
}

#level-selector-page header .filial-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 130px;
}

/*Barra de progreso*/
#level-selector-page header .progress-bar-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2rem;
    width: 50%;
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFF;
}

#level-selector-page header .progress-bar-container .progress-bar {
    background-color: #AAA;
    border-radius: 20px;
    height: 20px;
}

#level-selector-page header .progress-bar-container .progress-bar .bar-fill {
    background-color: #FFF;
    border-radius: 20px;
    height: 100%;
}

/*       Contenedor de niveles       */
#level-selector-page main .levels-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 3rem 10rem 1.5rem;
    margin-bottom: 0;
    padding-bottom: 3rem;
    grid-template-columns: repeat(5, 5fr);
    justify-items: center;
}
#level-selector-page main .levels-container .row{
    display: flex;
    justify-content: start;
}
#level-selector-page main .levels-container .row.reversed{
    justify-content: end;
}

/*Niveles*/
#level-selector-page main .levels-container .level {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 20%;
}

#level-selector-page main .levels-container .level .level-name {
    font-size: 1.5rem;
    color: #FFF;
}

#level-selector-page main .levels-container .level .level-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    height: 80px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

#level-selector-page main .levels-container .level .level-circle i {
    font-size: 3.5rem;
}

#level-selector-page main .levels-container .level .level-circle i.level-completed-icon {
    background: linear-gradient(180deg, var(--web_light), var(--web_dark));
    background-clip: content-box; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#level-selector-page main .levels-container .level .level-circle i.level-uncompleted-icon {
    color: #AAA;
}

/*La linea de los niveles*/
.level-circle::before{
    content: '';
    background-color: #FFF;
    position: absolute;
    min-width: 100px;
    min-height: 6px;
}
/*La linea de los niveles*/
.level-circle.start::before{
    left: 100%;
    width: 10.2rem;
}
.level-circle.end::before{
    content: none;
}
.level-circle.mid0::before{
    left: 100%;
    width: 290%;
}
.level-circle.mid1::before{
    right: 100%;
    width: calc(16.4vw - 79px);
}
.level-circle.rowEnd0::before, .level-circle.rowEnd1::before{
    height: 10.6rem;
    aspect-ratio: cal(10.6rem * 2);
    transform: translateY(47%);
    border: 6px solid #FFF;
    background-color: transparent;
}
.level-circle.rowEnd0::before{
    left: 100%;
    border-left: none;
    border-top-right-radius: 11.4rem;
    border-bottom-right-radius: 11.4rem;
}
.level-circle.rowEnd1::before{
    border-right: none;
    right: 100%;
    border-top-left-radius: 11.4rem;
    border-bottom-left-radius: 11.4rem;
}