html{
    --holo_dark: #000000;
    --holo_mid: #7F7F7F;
    --holo_light: #D9D9D9;
}

.QA {
    width: 40%;
    background-color: rgb(228, 228, 228);
}

.QA .question{
    padding: 5px 15px;
    color: white;
    background: linear-gradient(to right, var(--holo_dark), var(--holo_mid), var(--holo_light));
}

.QA .answer{
    padding: 0px 15px;
}